{% extends 'base.html' %}
{% block title %}Thread{% endblock title %}
{% block content %}
<h1> Thread </h1>

<a href = "{% url 'comment_create' %}">Add Comment</a>

    {% for comment in comment_list %}
<div>
  <hr>
  <h5>{{ comment.user.username}}</h3>
  <p>{{ comment.comment }}</p>
  <h8>{{ comment.timestamp }}</h7>
  <h8>{{ comment.date }}</h7>
    {% if comment.user == request.user %}
    <div class="card-action">
      <a href="{% url 'comment_update' comment.id %}">Edit</a>
      <a href="{% url 'comment_delete' comment.id %}">Delete</a>
    </div>
    {% endif %}
  <hr>
</div>
    {% endfor %}

  {% endblock %}
