{% extends 'base.html' %}
{% block title %}Schedule{% endblock title %}
{% block content %}
<h1> Schedule </h1>

<!-- <form action="" method="post">

  <select name="gameweek">
    {% for gameweek in gameweek_list %}
      <option value="{{ gameweek.id }}">Gameweek {{ gameweek.id }}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Submit">

</form> -->

{% for schedule in schedule_list %}

<div class="card">
  <a href="{% url 'schedule_detail' schedule.id %}">
    <div class="card-content">
      <div class="flex-container">
      <div>
        <h4>{{ schedule.date }}</h4>
        <h4>{{ schedule.time }}</h4>
        <span class="card-title">{{ schedule.hometeam }}</span>
          <div> {{ schedule.hometeamscore }} </div>
          <div> {{ schedule.awayteamscore }} </div>
        <span class="card-title"> {{ schedule.awayteam }}</span>
            {% if user.is_superuser %}
            <a href="{% url 'schedule_update' schedule.id %}">Edit</a>
            <a href="{% url 'schedule_delete' schedule.id %}">Delete</a>
            {% endif %}
          <div>
         
        </div>
      </div>
    </div>
  </a>
  </div>
  
</div>
{% endfor %}
{% endblock %}
