{% extends 'base.html' %}
{% block title %}Schedule{% endblock title %}
{% block content %}

<h1 class="schedule-header"> Schedule </h1>

<form action="" method="get">
  <label for="gameweek" class="active">Select Gameweek:</label>
  <select name="gameweek" id="gameweek" class="form-select" onchange="updateSchedule()">
    {% for gw in gameweeks %}
      <option value="{{ gw }}" {% if selected_gameweek == gw %} selected {% endif %}>Gameweek {{ gw }}</option>
    {% endfor %}
  </select>
</form>

{% for schedule in schedule_list %}

<div class="card text-center">
  <a href="{% url 'schedule_detail' schedule.id %}">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    
    <h5 class="card-title">{{ schedule.date }} at {{ schedule.time }} </h5>
    {% load static %}
    <p class="card-text"> <img width="100px" height="100px" src="{% static schedule.hometeam.logo|cut:'main_app/static/' %}">  {{ schedule.hometeam }}   <span><strong>  {{ schedule.hometeamscore|default_if_none:"  " }} </strong>
    {% if schedule.match_completed %}  
    </span>:<span>
    {% else %}
    </span>vs<span>
    {% endif %}
    <strong>  {{ schedule.awayteamscore|default_if_none:"  " }}  </strong>
    </span> {{ schedule.awayteam }} <img width="100px" height="100px" src="{% static schedule.awayteam.logo|cut:'main_app/static/' %}">
    </p>
    
  </div>

  <div class="card-footer text-body-secondary">
    {% if user.is_superuser %}
    <a href="{% url 'schedule_update' schedule.id %}" data-abc="true"><i class="glyphicon glyphicon-edit"></i></a>
    <a href="{% url 'schedule_delete' schedule.id %}" data-abc="true"><i class="glyphicon glyphicon-remove"></i></a>
    {% endif %}
  </div>

  </a>
</div>
{% endfor %}
<script>
  function updateSchedule() {
    const selectedGameweek = document.getElementById('gameweek').value;
    window.location.href = `?gameweek=${selectedGameweek}`;
  }
</script>
{% endblock %}


